[general]
live_config_reload = true

[window]
dynamic_padding = true
decorations = "None"
startup_mode = "Maximized"

[scrolling]
history = 100000

[font]
normal = { family = "IosevkaTerm Nerd Font" }
size = 12
offset = { x = 0, y = -1 }

[colors]
draw_bold_text_with_bright_colors = true

# Primary colors
[colors.primary]
background = '#1d2021'
foreground = '#ebdbb2'

# Normal colors
[colors.normal]
black   = '#282828'
red     = '#cc241d'
green   = '#98971a'
yellow  = '#d79921'
blue    = '#458588'
magenta = '#b16286'
cyan    = '#689d6a'
white   = '#a89984'

# Bright colors
[colors.bright]
black   = '#928374'
red     = '#fb4934'
green   = '#b8bb26'
yellow  = '#fabd2f'
blue    = '#83a598'
magenta = '#d3869b'
cyan    = '#8ec07c'
white   = '#ebdbb2'

[selection]
save_to_clipboard = true

[cursor]
style = { shape = "Block", blinking = "Never" }

[mouse]
hide_when_typing = true
