[user]
	email = hishamzakwan@gmail.com
	name = zakwan hisham
[core]
	editor = nvim
	pager = delta
[merge]
	tool = nvim
    conflictstyle = zdiff3
[color]
	ui = auto
[init]
	defaultBranch = main
[pull]
	rebase = false
[interactive]
    diffFilter = delta --color-only
[delta]
    true-color = always
    syntax-theme = base16-256
    navigate = true
    dark = true
    line-numbers = true
    side-by-side = true
