# vi mode editing
set editing-mode vi

# ignore upper and lowercase when TAB completion
set completion-ignore-case on

# Treat hypens and underscores as equivalent
set completion-map-case on

# Display matches for ambiguous patterns at first tab press
set show-all-if-ambiguous on

# better command history search
"\e[A": history-search-backward
"\e[B": history-search-forward

# TAB menu complete
set show-all-if-ambiguous on
set show-all-if-unmodified on
TAB: menu-complete

# Colorize completion
set colored-stats On
set visible-stats On
set mark-symlinked-directories On
set colored-completion-prefix On
set menu-complete-display-prefix On

# Show vim mode
set show-mode-in-prompt on
set vi-ins-mode-string ""
set vi-cmd-mode-string ""

# Disable control echo
set echo-control-characters off
