* {
    border: none;
    border-radius: 0;
    font-family: "IosevkaTerm Nerd Font";
    font-size: 10pt;
    min-height: 20px;
    color: #ffffff;
}

window#waybar {
    background: #285577;
}

#custom-mode,
#custom-cpu,
#custom-memory,
#custom-disk,
#custom-gpu,
#custom-volume,
#custom-calendar,
#tray {
    background: #000000;
    padding: 0 6px;
    margin: 0;
}

#workspaces {
    padding: 0px 0px;
    background: #383838;
}

#workspaces button {
    padding: 0px 0px;
}

#workspaces button.empty {
    background: #000000;
}

#workspaces button.focused {
    background: #285577;
}

#workspaces button.urgent {
    background: #900000;
}

#mode {
    padding: 0px 6px;
    background: #900000;
}

#window {
    padding: 0px 6px;
    background: #285577;
}

window#waybar.empty #window {
	background-color: transparent;
	color: transparent;
}

window#waybar.empty {
	color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
