* {
    border: none;
    border-radius: 0;
    font-family: "IosevkaTerm Nerd Font";
    font-size: 10pt;
    min-height: 18px;
    color: #ffffff;
}

window#waybar {
    background: #000000;
}

#custom-cpu,
#custom-memory,
#custom-disk,
#custom-gpu,
#custom-volume,
#custom-calendar,
#tray {
    background: #000000;
    padding: 0px 6px;
    margin: 0;
}

#workspaces {
    padding: 0px 0px;
    background: #383838;
}

#workspaces button {
    border: 1px solid #555555;
    padding: 0px 0px;
}

#workspaces button.focused {
    background: #285577;
}

#workspaces button.urgent {
    background: #900000;
}

#mode {
    padding: 0px 6px;
    border: 1px solid #555555;
    background: #900000;
}
