* {
    border: none;
    border-radius: 0;
    font-family: "IosevkaTerm Nerd Font";
    font-size: 9pt;
    min-height: 18px;
    color: #ffffff;
}

window#waybar {
    background: rgba(0, 0, 0, 1);
}

#window,
#custom-cpu,
#custom-memory,
#custom-disk,
#custom-gpu,
#custom-volume,
#custom-calendar,
#tray {
    padding: 0 6px;
    margin: 0;
}

#workspaces {
    background: #222222;
}

#workspaces button {
    padding: 0px 0px;
    border: 1px solid #333333;
}

#workspaces button.active,
#workspaces button.focused {
    background: #285577;
    border: 1px solid #555555;
}

#workspaces button.urgent {
    background: #900000;
}

#mode {
    padding: 0px 4px;
    background: #900000;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

